# Ada node config

#----------------------------------------------------------------
# adarender configuration

# adarenderservaddr - Ada render service address
adarenderservaddr: 127.0.0.1:7052
# adarendertoken - This is a valid adarenderserv token
adarendertoken: RVhVrt13P6i5xCrL5Fc3GcuHC03kaunA

#----------------------------------------------------------------
# adanode service configuration

# clienttokens - There are the valid clienttokens for this node
#               这里都是默认角色用的token
clienttokens:
  - x7sSGGHgmKwUMoa5S4VZlr9bUF2lCCzF

# maxexpiretime - max expire time in seconds
maxexpiretime: 86400

# isallowtemplatedata - Whether to allow templatedata
isallowtemplatedata: false

# templates - This is all the templates available for this role.
templates:
  - default

# resNums - This is the amount of resources available for this role
resnums: 0

# filepath - Output file path
filepath: ./output/

# bindaddr - bind addr
bindaddr: 0.0.0.0:7201

# baseurl - baseurl
baseurl: http://127.0.0.1/

# log - log config
log:
  # logpath - log path
  logpath: './logs'
  # loglevel - log level, it can be debug, info, warn, error
  loglevel: 'debug'
  # logconsole - it can be output to console
  logconsole: true